
<style>
    
    .css {
        margin-left: 80px;
        margin-right: 80px;
    }    

</style>


<div class="mt-4 css">
    <h3 style="margin-left: 50px">Cập nhật dữ liệu</h3>

    <form method="POST" action="/data/{{data.id}}?_method=PUT" class="mt-4"> {{!-- ?_method=PUT: overide method post sang put --}}
    

    <div class="form-group">
        <label for="name">Họ và tên</label>
        <input  class="form-control" value="{{data.name}}" id="name" name="name" >
        {{!-- value="{{data.name}}" chính là phần hiển thị sẵn trong khung nhập --}}
    </div>

    <div class="form-group ">
        <label for="email">Email</label> 
         <input  class="form-control" value="{{data.email}}" id="email" name="email" >
        
    </div>
    <div class="form-group">
        <label for="age">Tuổi</label>
        <input  class="form-control" value="{{data.age}}" id="age" name="age" >
        
    </div>
    <div class="form-group">
        <label for="gender">Giới Tính</label>
        <input  class="form-control" value="{{data.gender}}" id="gender" name="gender" >
        
    </div>
    

    


    <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>
</div>